username: hrishiky

name: hrishiky.github.io

description: hrishiky.github.io

avatar: https://avatars.githubusercontent.com/u/173004515?s=400&v=4

url: http://hrishiky.github.io

baseurl: ""

#
# !! You don't need to change any of the configuration flags below !!
#

permalink: /:title/

version: v1.2.0

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    css_class: 'highlight'

sass:
  style: :expanded

gems:
  - jekyll-sitemap
  - jekyll-feed

exclude:
  - Gemfile
  - Gemfile.lock
  - LICENSE
  - README.md
