---
---

@import "variables";
@import "reset";
@import "highlights";
@import "svg-icons";

html {
  font-size: 100%;
  font-family: 'Times New Roman', Times, serif;
}

body {
	background: #ffffff;
  color: #000000;
  min-height: 100vh;
}

.main-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 2px;
  border-left: 1px solid #bcbcbc;
  border-right: 1px solid #bcbcbc;
}

.content-container {
  display: flex;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-weight: 500;

  line-height: 1.7;
  padding: 0;
  margin-top: 0.5em;
  margin-bottom: 0.6em;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 20px;
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
  }
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:active {
    color: #4183C4;
  }
  &:hover {
    color: #4183C4;
    text-decoration: underline;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

.date {
  font-style: italic;
  margin-top: 5px;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.wrapper-masthead {
  margin-top: 3px;
  background-color: #efefef;
  border-bottom: 3px solid #cccccc;
}

.masthead {
  padding: 20px 0;
  text-align: center;
}

.site-avatar {
  margin-top: 30px;
  width: 80px;
  height: 80px;
  padding: 5px;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-info {
  float: center;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-size: 30px;
  font-style: bold;

  letter-spacing: 1px;
}

.sidebar-name {
  margin: 0;
  color: #000000;
  cursor: pointer;
  font-size: 25px;
  font-weight: 500;
}

.site-description {
  margin: -5px 0 0 0;
  font-size: 15px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: center;
  margin-top: 23px;
  font-size: 20px;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

#main {
  flex: 3;
}

.posts > .post {
  padding-top: 0em;
  padding-bottom: 0.75em;
  border-bottom: 1px dashed #cccccc;
}

.posts > .post:last-child {
  border-style: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic; 
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    font-size: 15px;
  }
}

.entry {
  border: 1px solid #000000;
  background-color: #dedede; 
  padding: 7px !important;
  margin-top: 5px;
  margin-bottom: 5px;
}

.sidebar {
  flex: 1;
  background-color: #efefef;
  padding: 15px;
  padding-bottom: 100vb;
}

.sidebar-info {
  float: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.archives-container {
  p {
    font-style: bold;
  }
  ul {
    list-style-type: none;
  }
}

#archive-list {
  display: none;
  margin-top: 5px;
}

//.archive-item {}

.archive {
  border: 1px solid #000000;
  background-color: #dedede; 
  padding: 7px !important;
  margin-top: 5px;
  margin-bottom: 5px;
}

.archive-file {
  margin: 5px;
  border: 0;
  overflow: auto;
}

#archive-btn {
  font-weight: bold;
  border: none;
  background-color: #efefef;
}

.archive-span {
	display: flex;
  align-items: center;
}

.wrapper-footer {
  margin-top: auto;
  border-top: 1px dashed #cccccc;
  footer {
    color: #888888;
    font-size: 10px;
    font-style: italic;
    padding: 5px 0;
    text-align: center;
  }
  a {
    color: #888888;
    text-decoration: underline;
    cursor: pointer;
    &:hover{
      text-decoration: none;
    }
  }
}