html {
	font-size: 100%;
	font-family: 'Times New Roman', Times, serif;
}

body {
	background: #fff;
	color: #000;
	min-height: 100vh;
}

nav {
    margin-top: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

nav h1 {
    padding-left: 25px;
    padding-right: 25px;
}

nav p {
    padding-left: 10px;
    padding-right: 10px;
}

nav a {
	text-decoration: none;
    color: black;
}

nav a:hover {
    color: #0000ee;
}

nav span {
	display: flex;
}

nav button {
	border: none;
    background-color: transparent;
    margin-left: -10px;
}

.nav-spacer {
	padding-left: 10px;
    padding-right: 10px;
}

.right-align {
    margin-left: auto;
    padding-right: 20px;
}

.counter img {
    width: 0px;
    height: 0px;
}

.info-container {
    margin-bottom: 30px;
}

.divider {
    border: none;
    border-top: 1px dashed gray;
    padding: 5px
}

#secret {
    display: none
}

.main-container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 2px;
	border-left: 1px solid #bcbcbc;
	border-right: 1px solid #bcbcbc;
}

.content-container {
	display: flex;
}

.container {
	margin: 0 auto;
	max-width: 740px;
  padding: 0 10px;
}

h1, h2, h3, h4, h5, h6 {
	color: #000;
	font-weight: 500;
	line-height: 1.7;
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0.6em;
}

h1 {
	font-size: 20px;
}

h1 a {
	color: inherit;
}

h1 a:hover {
	text-decoration: none;
}

h2 {
	font-size: 24px;
}

h3 {
	font-size: 20px;
}

h4 {
	font-size: 18px;
	color: gray;
}

a {
	color: blue;
	text-decoration: none;
	cursor: pointer;
}

a:active {
	color: #4183c4;
}

a:hover {
	color: #4183c4;
	text-decoration: underline;
}

ul, ol {
	margin: 15px 0;
	padding-left: 30px;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
	margin: 0;
}

ul ul, ol ul {
	list-style-type: circle;
}

em, i {
	font-style: italic;
}

strong, b {
	font-weight: bold;
}

.date {
	font-style: italic;
	margin-top: 5px;
}

.clearfix:before, .clearfix:after {
	content: " ";
	display: table;
}

.clearfix:after {
	clear: both;
}

.wrapper-masthead {
	margin-top: 3px;
	background-color: #efefef;
	border-bottom: 3px solid #ccc;
}

.masthead {
	padding: 20px 0;
	text-align: center;
}

.site-avatar {
	margin-top: 30px;
	width: 80px;
	height: 80px;
	padding: 5px;
}

.site-info {
	float: center;
}

.site-name {
	margin: 0;
	color: darkGray;
	cursor: pointer;
	font-size: 30px;
	font-style: bold;
	letter-spacing: 1px;
}

.sidebar-name {
	margin: 0;
	color: #000;
	cursor: pointer;
	font-size: 25px;
	font-weight: 500;
}

.site-description {
	margin: -5px 0 0 0;
	font-size: 15px;
}

nav {
  float: center;
	margin-top: 23px;
	font-size: 20px;
}

nav a {
  margin-left: 20px;
	color: darkGray;
  text-align: right;
	font-weight: 300;
	letter-spacing: 1px;
}

#main {
	flex: 3;
}

.posts > .post {
  padding-top: 0em;
	padding-bottom: 0.75em;
	border-bottom: 1px dashed #ccc;
}

.posts > .post:last-child {
	border-style: none;
}

.post blockquote {
 margin: 1.8em 0.8em;
 padding: 0.1em 1em;
 color: gray;
 font-size: 22px;
 font-style: italic;
}

.post .comments {
 margin-top: 10px;
}

.post .read-more {
 font-size: 15px;
}

.entry {
 border: 1px solid #000;
 background-color: #dedede;
 padding: 7px !important;
 margin-top: 5px;
 margin-bottom: 5px;
}

.sidebar {
 flex: 1;
 background-color: #efefef;
 padding: 15px;
 padding-bottom: 100vb;
}

.sidebar-info {
	float: center;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.wrapper-footer {
	margin-top: auto;
	border-top: 1px dashed #ccc;
}

.wrapper-footer footer {
 color: #888;
 font-size: 10px;
 font-style: italic;
 padding: 5px 0;
 text-align: center;
}

.wrapper-footer a {
	color: #888;
	text-decoration: underline;
  cursor: pointer;
}

.wrapper-footer a:hover {
	text-decoration: none;
}
