nav {
    margin-top: 20px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
}

nav h1 {
    padding-left: 25px;
    padding-right: 25px;
}

nav p {
    padding-left: 10px;
    padding-right: 10px;
}

nav a {
	text-decoration: none;
    color: black;
}

nav a:hover {
    color: #0000ee;
}

.counter img {
    width: 0px;
    height: 0px;
}

.info-container {
    margin-bottom: 30px;
}

.divider {
    border: none;
    border-top: 1px dashed gray;
    padding: 5px
}

#secret {
    display: none
}